body {
  margin: 0;
  background-color: #1f2937;
}

h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
  margin: 0;
}

.container {
  padding-top: 150px;
  width: 450px;
  margin: 0 auto;
}

.header-container {
  width: 355px;
}

#green {
  color: #4adf86;
}

button {
  background: #10b981;
  padding: 8px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin: 50px 0 40px 0;
}

.underline {
  border: 1px solid #2f3e53;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.password-box {
  border-radius: 7px;
  width: 200px;
  background-color: #273549;
  text-align: center;
  display: flex;
}

.password {
  width: 190px;
  margin: 4px auto;
}
.password > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #55f991;
  word-wrap: break-word;
  padding-left: 5px;
  word-wrap: break-word;
}

.btn {
  margin: 0 0 0 20px;
}
